
/* No Favorites */

.no-favorites-container {
  height: 85vh;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.sad-mickey-image {
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.no-favorites-message {

}