

.single-char-container {
  height: 85vh;
  background-image: url('../../assets/MainPageBackground.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-star-container {
  height: 50vh;
  width: 90%;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.character-portrait {
  height: 80%;
}

.favorite-star {
  height: 100%;
}

.favoriting-star-container {
  background-color: rgb(233, 50, 50);
  border-radius: 40%;
  height: 15vh;
  position: absolute;
  top: 0;
  right: 0;
  /* transition: background-color 0.3s ease; */
}

.favoriting-star-container:target {
  background-color: blue;
}

.single-character-details {
  height: 35vh;
  width: 30%;
  margin-bottom: 1%;
  border-radius: 20%;
  background-color: #F9F9F4;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

@media (max-width: 905px) {
  .favoriting-star-container {
    height: 12vh;
  }
}

@media (max-width: 850px) {
  .single-character-details {
    width: 40%;
  }
  .character-portrait {
    height: 70%;
  }
}

@media (max-width: 660px) {
  .single-character-details {
    width: 50%;
  }
}

@media (max-width: 625px) {
  .character-portrait {
    height: 65%;
  }
}

@media (max-width: 540px) {
  .single-character-details {
    width: 60%;
  }
}

@media (max-width: 465px) {
  .character-portrait {
    height: 50%;
  }

  .single-character-details {
    width: 75%;
  }
}