.header {
  border: 2px solid red;
  height: 15vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.view-favorites {
  height: 90%;
}

.view-favorites:hover {
  transform: scale(1.1);
}

.header-image {
  height: 85%;
}

.header-image:hover {
  transform: scale(1.1);
}